<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Node Input form</title>
    <link rel="stylesheet" href="css/styling.css">
  </head>
  
  <body>
    <div style="width: 100%; overflow: hidden;" id="main_div">
      <div style="width: 70%; float: left;" id = "node_form_div">
        <h2>Node Input</h2>
      </div>
      <div style="margin-left: 72%;" id = "edge_form_div">
        <h2>Edge Input</h2>
      </div>
    </div>
  </body>
 
  <script src="js/data_list.js"></script> 
  <script src="js/create_forms.js"></script>
  <script src="js/autocomplete.js"></script> 
  <script>
    var node_list = {{node_list_py|tojson}}; 
    
    function test_f(e)
    {
      var x = document.getElementById(this.id+"_div");
      x.style.display = this.checked ? "block" : "none";
      
      for(let i = 0; i < x.childElementCount; i++)
      {
          if(x.childNodes[i].type == "checkbox")
            x.childNodes[i].checked = false;
      }
	  var xx = document.getElementById("topic");
	  var f = true;
      for(let i = 0; i < xx.childElementCount; i++)
      {
          if(xx.childNodes[i].childNodes[0].type == "checkbox")
            if(xx.childNodes[i].childNodes[0].checked == true)
				f = false;
      }
      console.log(f);
      var x2 = document.getElementById("subtopic_div");
      console.log(x2);
	  if(f)
	  {
		x2.style.display = "none";
	  }
	  else
	  {
        x2.style.display = "block";
	  }
    }
    
    function attach_handler(id, func)
    {
      var xx = document.getElementById(id);
      for(let i = 0; i < xx.childElementCount; i++)
      {
          if(xx.childNodes[i].childNodes[0].type == "checkbox")
            xx.childNodes[i].childNodes[0].onchange = func;
      }
    }
    
    function validateForm() 
    {
      var x = document.forms["edge-input"]["_from"].value;
      console.log(x);
      console.log(node_list.indexOf(x));
      if((node_list.indexOf(x) < 0))
      {
          alert("Name not found");
          return false;
      }
      x = document.forms["edge-input"]["_to"].value;
      if((node_list.indexOf(x) < 0))
      {
          alert("Name not found");
          return false;
      }
      return true;
    } 
    
    //TODO add extra argument to distinguish between node and edge post request
    node_form = create_node_form();
    edge_form = create_edge_form();
    
    //document.body.appendChild(form);
    document.getElementById("node_form_div").appendChild(node_form);
    document.getElementById("edge_form_div").appendChild(edge_form);
    
    attach_handler("topic", test_f);
    edge_form.setAttribute("onsubmit", "return validateForm()");
    
    autocomplete(document.getElementById("_from"), node_list);
    autocomplete(document.getElementById("_to"), node_list);
    autocomplete(document.getElementById("label"), labels);
    
  </script>
  
</html>
